// ../mixins/video.pug

.vid__list {
  .vid__thumb {
    height: 220px;
    width: 100%;
    background-color: ivory;
    border-radius: $border_radius-7;
  }
  .vid__meta {
    padding: $video_padding-vertical $video_padding-horizontal;
    .vid__title {
      display: block;
      font-size: $video_size;
      margin-top: $video_margin-top;
    }
    .vid__views {
      font-size: $video_size-12;
      margin-top: $video_margin-top-5;
    }
  }
}
