$logo_color: #ff1300;
$button_color: #191919;
$background_color: #191919;

// border-radius standard
$border_radius-7: 7px;
$border_radius: 10px;

// size (screen settings)
$haeder_padding-vertical: 20px;
$haeder_padding-horizontal: 50px;

$logo_size: 38px;

$list_size: 14px;
$list_weight: 600;
$list_margin-left: 30px;

$icon_size: 16px;

$video_padding-vertical: 0px;
$video_padding-horizontal: 15px;

$video_size: 18px;
$video_size-12: 12px;
$video_margin-top: 10px;
$video_margin-top-5: 5px;

// message
$message_not-found_font_size: 18px;

$message_not-found_margin-bottom: 50px;

// serach
$search_padding-vertical: 13px;
$search_padding-horizontal: 20px;
