mixin video(video)
    div.vid__list
        div.vid__thumb
        div.vid__meta
            a.vid__title(href="/videos/"+video.id)=video.title
            div.vid__views
                span #{video.owner.name} × 
                span #{video.meta.views} 회