extends base.pug

block content
    h4 Change Title of [#{videoNow.title}]
    form(method="POST") 
        input(name="title",type="text", value=videoNow.title,  placeholder="TITLE",required, maxlength=40)
        input(name="description",type="text", value=videoNow.description,  placeholder="DESCRIPTION", required, minlength=20, maxlength=140)
        input(name="hashtags",type="text", value=videoNow.hashtags.join(),  placeholder="HASHTAGS, sepertated by comma(,).", required)
        input(value="Save",type="submit")

        //- ACTION
        //- [action=""] means where data, in form, going (URL)?
        //- But, We already have (URL)..
        //- So, we don't have to use [action=""]...
        //- [action=""] makes new URL

        //- REQEUST
        //- We have two kind of request  
        //- first, [GET request]
        //- second, [POST request]

        //- When you use [GET request].
        //- If you want to connect some page... You need to use [GET request].

        //- When you use [POST request].
        //- If you want to change some DB... You need to use [POST request].
