extends base.pug

block content
    div#record__form
        video
        div
            button(type="button").record__device 기기 확인
            button(type="button").record__btn 녹화 시작
            span.record__currentTime 현재 시간

    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").upload__form
        label(for="video") Video File
        input(name="video", id="video", type="file", accept="video/*",required)
        
        label(for="thumbnail") Thumbnail File
        input(name="thumbnail", id="thumbnail", type="file", accept="image/*")
        
        input(name="title",type="text",placeholder="TITLE",required, maxlength=40)
        input(name="description",type="text",placeholder="DESCRIPTION (min 10 text)", required, minlength=20, maxlength=140)
        input(name="hashtags",type="text",placeholder="HASHTAGS, sepertated by comma(,).", required)
        input(type="submit", value="submit")

block scripts
    script(src="/design/js/videoRecorder.js")