extends base.pug

block content
    div
        button#up__recording Start Recording 
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").upload__form
        label(for="video") Video File
        input(type="file", accept="video/*", id="video", name="video",required)
        
        input(name="title",type="text",placeholder="TITLE",required, maxlength=40)
        input(name="description",type="text",placeholder="DESCRIPTION", required, minlength=20, maxlength=140)
        input(name="hashtags",type="text",placeholder="HASHTAGS, sepertated by comma(,).", required)
        input(type="submit", value="submit")

block scripts
    script(src="/design/js/videoRecorder.js")