extends base.pug
include mixins/mixin-video.pug

block content
    div.home__videos-grid
        each video in videoDB
            +video(video)
        else
            span.message_not-found Any Videos Found