extends ../base.pug
include ../mixins/mixin-video.pug

block content
    form(mothod="GET").search__form
        input(name="keyword", placeholder="Serach by Title", type="text")
        button
            i.fas.fa-search

    div.home__videos-grid
        each video in videoDB
            +video(video)
        else
            span.message_not-found Any Videos Found