extends ../base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST").accountLogin__form
        input(name="username", placeholder="Username", type="text", required)
        input(name="password", placeholder="Password", type="password", required)
        input(value="Login", type="submit")
        br
        br
        a(href="/users/github/start") Continue with GitHub &rarr;
    br
    hr
    div
        span Already, have an account?
        br
        a(href="/join") Create Account Now &rarr;